/*@import "_category-navigation-labels";

Change basis page behaviour*/
.main-nav-active,
.main-nav-active body {
	overflow: hidden;
}


.navigation-primary.navigation-primary {
	padding: 0;
}

.navigation-primary-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	height: 100%;
}

.navigation-primary-list > * {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	padding: 1vw 0 0; /* make sure that labels are correctly displayed */
	/*position: relative;*/
}

.navigation-primary-list > * > *:first-child {
	margin-top: -1vw;
}

.navigation-primary-list > * + * {
	border-left: 1px solid #ecf8f1; /* TODO - color vars */
}

.navigation-primary-list > * > a {
	min-height: 1px;
	padding: 0 1.5vw;
	position: relative;
	font-size: var(--header-bar-font-size);
	font-weight: var(--header-bar-font-weight);
	text-transform: uppercase;
}

.navigation-primary-list > * > a:before {
	content: '';
	display: block;
	left: 0;
	right: 0;
	height: 40px;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}

.navigation-primary-list > * > a:link,
.navigation-primary-list > * > a:visited {
	color: var(--base-text-color);
	text-decoration: none;
}

.navigation-primary-list > * > a:hover,
.navigation-primary-list > * > a:focus,
.navigation-primary-list > * > a:active {
	color: #000;
	text-decoration: none;
}

@media (max-width: 1200px) {/* --breakpoint-xl */
	.navigation-primary-list > * > a {
		padding: 0 1em;
	}
}

.navigation-primary-list > * > a:first-child:not(:last-child)::after {
	border-color: #1f1a3a; /* TODO colour variable */
	border-style: solid;
	border-width: 0 1px 1px 0;
	content: '';
	display: block;
	height: 6px;
	width: 6px;
	position: absolute;
}

@media (min-width: 992px) { /*--breakpoint-lg: */
	.navigation-primary-list > * > a:first-child:not(:last-child)::after {
		top: 100%;
		left: 50%;
		margin-left: -3px;
		-webkit-transform: translate3d(0, 0, 0) rotate(45deg);
		transform: translate3d(0, 0, 0) rotate(45deg);
		-webkit-transition: transform 0.3s ease 0s;
		transition: transform 0.3s ease 0s;
	}

	.navigation-primary-list > * > a:hover:first-child:not(:last-child)::after,
	.navigation-primary-list > * > a:focus:first-child:not(:last-child)::after,
	.navigation-primary-list > * > a:active:first-child:not(:last-child)::after {
		-webkit-transform: translate3d(0, 5px, 0) rotate(45deg);
		transform: translate3d(0, 5px, 0) rotate(45deg);
	}
}

.navigation-primary-list > * > .navigation-primary-subcategory {
	/*display: none;*/
	visibility: hidden;
	opacity: 0;
/*	max-height: 0;
	overflow: hidden;*/
	z-index: -10;
	position: absolute;
	top: 0;
	background: #fff;
	border-top: 3px solid var(--primary-color);
}

.navigation-primary-subcategory {
	box-sizing: border-box;
	left: 0;
	width: 100%;
	display: flex;
	padding: 2vw;
}

.navigation-primary-subcategory a:link,
.navigation-primary-subcategory a:visited {
	color: var(--base-text-color);
	text-decoration: none;
}

.navigation-primary-subcategory a:hover,
.navigation-primary-subcategory a:focus,
.navigation-primary-subcategory a:active {
	color: #000;
	text-decoration: underline;
}

.navigation-primary-subcategory > * {
	flex: 1 100%;
}

.navigation-primary-subcategory ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;

	font-size: var(--header-bar-font-size);
	font-weight: var(--header-bar-font-weight);
	text-transform: uppercase;
}

.navigation-primary-subcategory ul ul {
	font-size: 1.075em;
	font-weight: normal;
	text-transform: none;
}

.navigation-primary-subcategory > .navigation-primary-promo {
	box-sizing: border-box;
	border: 1px solid #ddd; /*var(--border-color*/
	padding: 2vw;
}

@media (min-width: 992px) { /*--breakpoint-lg: */
	.navigation-primary-subcategory > .navigation-primary-promo {
		flex: 1 auto;
	}

	.navigation-primary-subcategory > ul {
		flex: 3 0;
		margin-left: 3vw;

		display: grid;
		grid-gap: 10px;
		max-width: calc(100% - 3vw - 300px);
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	}

/*	.navigation-primary-subcategory > ul > li {
		grid-column: span 2;
	}*/

	.navigation-primary-subcategory > ul > li li {
		margin-bottom: calc(var(--generic-margin) / 2);
	}

	.navigation-primary-subcategory > ul > li ul {
		margin-bottom: calc(var(--generic-margin) / 4);
	}
}

@media (min-width: 992px) { /*--breakpoint-lg: */
	.navigation-primary-list > * > .navigation-primary-subcategory {
		top: 100%;
		max-height: calc(100vh - var(--header-bar-primary-height) - var(--header-bar-secondary-height));
		overflow: hidden;
	}

	.navigation-primary-list > *:hover > .navigation-primary-subcategory {
		visibility: visible;
		opacity: 1;
		z-index: 1;
		/*max-height: calc(100vh - var(--header-bar-primary-height) - var(--header-bar-secondary-height));*/
		max-height: none;
	}
}

@media (min-width: 992px) { /*--breakpoint-lg: */
	.navigation-primary {
		margin-left: auto;
		margin-right: auto;
	}

	.navigation-primary.navigation-primary [id$="Trigger"],
	.navigation-primary.navigation-primary [for$="Trigger"] {
		display: none;
	}

	.navigation-primary.navigation-primary nav {
		display: block;
	}
}