<section class="header-secondary-component header-cart">
	<label for="CartTrigger">Cart<svg class="icon-set-icon"><use xlink:href="#i-cart" /></svg></label>
	<input type="checkbox" id="CartTrigger">
	<span class="header-general-label cart-items">0</span>
	<div id="headerCart" class="modal-content">
	    <h2 class="header-cart-heading">Shopping cart: 0 items</h2>
	    <div class="header-cart-content">
	    	<div class="message">
	    		Your cart is empty
	    	</div>
	    </div>
	</div>
</section>