<div class="navigation-primary">
	<label for="NavPrimaryTrigger">Menu</label>
	<input type="checkbox" id="NavPrimaryTrigger">

	<nav>
		<ul class="navigation-primary-list">
			<li>
				<a href="/demo-cat.html">
					Women
					<span class="navigation-primary-label new">New</span>
				</a>

				<div class="navigation-primary-promo">
					<a href="/demo-cat.html">PROMO</a>
				</div>

				<ul>
					<li>
						<a href="/demo-cat.html">Adipisicing elit</a>

						<ul>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
							<li><a href="/demo-cat.html">Littera Consectetur</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Voluptate Putamus</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Commodo consequat</a>

						<ul>
							<li><a href="/demo-cat.html">Adipisicing Elit</a></li>
							<li><a href="/demo-cat.html">Cillum Dolore</a></li>
							<li><a href="/demo-cat.html">Commodo Consequat</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Incididunt consequat</a>

						<ul>
							<li><a href="/demo-cat.html">Commodo Consequat</a></li>
							<li><a href="/demo-cat.html">Adipisicing Elit</a></li>
							<li><a href="/demo-cat.html">Cillum Dolore</a></li>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
							<li><a href="/demo-cat.html">Voluptate Putamus</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Littera consectetur</a>

						<ul>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Voluptate Putamus</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
							<li><a href="/demo-cat.html">Littera Consectetur</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Ullamco laboris</a>

						<ul>
							<li><a href="/demo-cat.html">Commodo Consequat</a></li>
							<li><a href="/demo-cat.html">Adipisicing Elit</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Cillum Dolore</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
							<li><a href="/demo-cat.html">Voluptate Putamus</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Voluptate putamus</a>

						<ul>
							<li><a href="/demo-cat.html">Littera Consectetur</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Commodo Consequat</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li>
				<a href="/demo-cat.html">
					Men
					<span class="navigation-primary-label hot">Hot</span>
				</a>

				<div class="navigation-primary-promo">
					<a href="/demo-cat.html">PROMO</a>
				</div>

				<ul>
					<li>
						<a href="/demo-cat.html">Adipisicing elit</a>

						<ul>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
							<li><a href="/demo-cat.html">Littera Consectetur</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Voluptate Putamus</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Commodo consequat</a>

						<ul>
							<li><a href="/demo-cat.html">Adipisicing Elit</a></li>
							<li><a href="/demo-cat.html">Cillum Dolore</a></li>
							<li><a href="/demo-cat.html">Commodo Consequat</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Incididunt consequat</a>

						<ul>
							<li><a href="/demo-cat.html">Commodo Consequat</a></li>
							<li><a href="/demo-cat.html">Adipisicing Elit</a></li>
							<li><a href="/demo-cat.html">Cillum Dolore</a></li>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
							<li><a href="/demo-cat.html">Voluptate Putamus</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Littera consectetur</a>

						<ul>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Voluptate Putamus</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
							<li><a href="/demo-cat.html">Littera Consectetur</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Ullamco laboris</a>

						<ul>
							<li><a href="/demo-cat.html">Commodo Consequat</a></li>
							<li><a href="/demo-cat.html">Adipisicing Elit</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Cillum Dolore</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
							<li><a href="/demo-cat.html">Voluptate Putamus</a></li>
						</ul>
					</li>
					<li>
						<a href="/demo-cat.html">Voluptate putamus</a>

						<ul>
							<li><a href="/demo-cat.html">Littera Consectetur</a></li>
							<li><a href="/demo-cat.html">Nostrud Exercitation</a></li>
							<li><a href="/demo-cat.html">Ullamco Laboris</a></li>
							<li><a href="/demo-cat.html">Commodo Consequat</a></li>
							<li><a href="/demo-cat.html">Eiusmod Tempor</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="/demo-cat.html">Bags &amp; accessories</a>
			</li>
			<li>
				<a href="/demo-cat.html">Digital items</a>
			</li>
			<li>
				<a href="/demo-cat.html">Blog</a>
			</li>
			<li>
				<a href="/demo-cat.html">Contact us</a>
			</li>
		</ul>
	</nav>
</div>
