<div class="header-secondary-component header-search">
	<label for="SearchTrigger">Search</label>
	<input type="checkbox" id="SearchTrigger">
	<form action="/search/" method="get" enctype="text/plain" accept-charset="UTF-8" class="modal-content">
	    <fieldset>
	        <legend>Search</legend>
	    	<label for="w">Search term</label>
	    	<input type="search" name="w" id="w" value="" size="15" required="required" autocomplete="off">
			<button type="submit" name="submit">Go!</button>
		</fieldset>	
	</form>
</div>