* {
	margin-top: 0;
}

body {
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	line-height: var(--base-line-height);
	color: var(--base-text-color);
}

body, h1, h2, h3, h4, h5, h6 {
	font-size-adjust: 0.5;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dl, table {
	margin-bottom: var(--generic-margin);
}

h1 {
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
}

h2 {
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);
}

h3 {
	font-size: var(--h3-font-size);
	line-height: var(--h3-line-height);
}

h4 {
	font-size: var(--h4-font-size);
	line-height: var(--h4-line-height);
}

li > * + ul,
li > * + ol {
	margin-top: calc(var(--generic-margin) / 2);
}


li {
	margin-bottom: calc(var(--generic-margin) / 2);
}