<!DOCTYPE html>
{% set shopName =  "Ecommerce site" %}
<html>
<head>
    <meta charset="utf-8">
    <!-- more info on this: https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag -->
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles/stylesheet.css">
</head>
<body class="{{ bodyClass }}">
    {% include "../includes/header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>
    
    {% include "../includes/footer.html" %}
    {% include "../includes/js.html" %}
</body>
</html>