.header-primary {
	background-color: var(--primary-color);
	color: var(--primary-color-inverse);

	margin: -1vw -1vw 0;
	display: flex;
}

.header-primary a:link,
.header-primary a:visited,
.header-primary a:hover,
.header-primary a:focus,
.header-primary a:active {
	color: var(--primary-color-inverse);
}
