@import "components/_promo";

.header-primary {
	background-color: var(--primary-color);
	color: var(--primary-color-inverse);

	margin: -1vw -1vw 0;
	padding: 0 1vw;
	display: flex;

	height: var(--header-bar-primary-height);

	font-size: var(--header-bar-font-size);
	font-weight: var(--header-bar-font-weight);
	text-transform: uppercase;
}

.header-primary a:link,
.header-primary a:visited,
.header-primary a:hover,
.header-primary a:focus,
.header-primary a:active {
	color: var(--primary-color-inverse);
}

.header-primary section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-primary section:not(:first-child) {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	padding-left: 1vw;
}

.header-primary section:not(:last-child) {
	padding-right: 1vw;
}

.header-primary section,
.header-primary section > * {
	margin-bottom: 0;
}

.header-primary section:not([class*="-promo"]) a:link,
.header-primary section:not([class*="-promo"]) a:visited {
	text-decoration: none;
}

.header-primary section:not([class*="-promo"]) a:hover,
.header-primary section:not([class*="-promo"]) a:focus,
.header-primary section:not([class*="-promo"]) a:active {
	text-decoration: underline;
	-webkit-text-decoration-style: dotted;
	text-decoration-style: dotted;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.6);
	text-decoration-color: rgba(255, 255, 255, 0.6);
}
