.rolling-list-container {
    line-height: 1.4em;
    height: 1.4em;
    overflow: hidden;
}

.rolling-list-pane {
    box-sizing: content-box;
    margin: 0;
    padding: 0 0 1.4em;
    padding: 0;
    height: 1.4em;
    list-style: none;
}

.rolling-list-pane > * {
    margin-bottom: 0;
    height: 1.4em;
    transform: translate3d(0, 200%, 0);
    position: absolute;
}

.rolling-list-pane > .rolling-list-pane-start {
    transform: translate3d(0, 0, 0);
    transition: transform 1s ease-out;
}

.rolling-list-pane > .rolling-list-pane-end {
    transform: translate3d(0, -200%, 0);
    transition: transform 1s 2s ease-in;
}
